<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rehman.womansecuritysystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WomanSecuritySystem"
        tools:targetApi="31">
        <activity
            android:name=".Admin.AdminRequestDetailsActivitty"
            android:exported="false" />
        <activity
            android:name=".Driver.AdminRequestActivity"
            android:exported="false" />
        <activity
            android:name=".Parent.DriverLastLocationActivity"
            android:exported="false" />
        <activity
            android:name=".Student.StudentMainActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.RequestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverLoctionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Parent.DriverLocationActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.StudentCallActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.DriverRequestActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminImageUploadActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminDriverListActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.StudentPickUpActivity"
            android:exported="false" />
        <activity
            android:name=".Parent.DriverDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Parent.DriverListActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.AddDriverActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.StudentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.MyStudentList"
            android:exported="false" />
        <activity
            android:name=".Driver.AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".Parent.MyChildActivity"
            android:exported="false" />
        <activity
            android:name=".Parent.ParentAddActivity"
            android:exported="false" />
        <activity
            android:name=".Parent.ParentMainActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileProgress.IdentityVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileProgress.VehicleDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.SetPRofileImgActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileProgress.PersonalDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AccountVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverMainActivity"
            android:exported="false" />
        <activity
            android:name=".Start.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmActivity"
            android:exported="false" />
        <activity
            android:name=".Start.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Start.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3EzFyOV98L26dadyOsFDy2Ml4YlJVAvw" />
    </application>

</manifest>